body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(115, 221, 237);
}

header {
    background-color: #333;
    color: #99effe;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #99effe;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: #fff;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #333;
}
